<nav class="row">
  <div class="twelve columns">
    <% if user_signed_in? %>
      <%= button_to "Sign Out", logout_path, method: :delete, class: "button button-primary" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "button" %>
    <% end %>
  </div>
</nav>