<nav class="row">
  <div class="twelve columns">
    <div style="display: flex; gap: 10px;">
      <% if user_signed_in? %>
        <%= link_to "Dashboard", dashboard_path, class: "button" %>
        <%= button_to "Sign Out", logout_path, method: :delete, class: "button" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "button" %>
      <% end %>
    </div>
  </div>
</nav>
